{%extends 'stock/base.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet"  type="text/css" href="{%static 'css/main.css' %}">
<link rel="stylesheet"  type="text/css" href="{%static 'css/table.css' %}">
<div class='innercontainer'>
	<div class='innerdiv'>
		<h4>more</h4><br>
		<a href="#">Transaction Stats</a>
		<a href="#">Low Stock Reminder</a>
		<a href="#">View Past Quantity</a>
		<hr>
	</div>
	<div class='maindiv'>
		<p> three pages to be created</p>
		<p>view all product history</p>
		<p>add category <span><a href="">add catergory</a></span></p>
	</div>
{%endblock%}