{%extends 'stock/base.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet"  type="text/css" href="{%static 'css/main.css' %}">
<link rel="stylesheet"  type="text/css" href="{%static 'css/table.css' %}">
<div class='innercontainer'>
	<div class='innerdiv'>
		<h1 color='light blue'>stock out</h1>
		<hr>
		<input type="text" name="patner" placeholder="patner">
  <button style=" float:right;">scan Barcode</button>
  <button style=" float:right; margin-right: 5px;" >stock out via excel file</button><br>
	</div>
	<div class='maindiv'>
		<div class='col'>
			select product <label for="stockin" style='float:right;'> stockin</label>
			<input type="checkbox" id="stockin" name="stockin" value="Car" style='float:right;'><br>
			<input type="text" name="search" placeholder="search product name, barcode, category"><br>
		<div style="overflow-x:auto;">
		<table border="1">
			<tr>
				<th>name</th><th>brand</th><th>manufacturer	</th>
				<th>origin</th><th>vendor</th><th>type</th>
			</tr>
				{% for product in product %}
				<tr>
				<td>{{product.name}}</td><td>{{product.Brand}}</td><td>{{product.manufacturer}}	</td>
				<td>{{product.origin}}</td><td>{{product.vendor}}</td><td>{{product.product_type}}</td>
				</tr>
				{%endfor%}
		</table>
	</div>
	</div>
	<div class='col' style="text-align: center;">
		Select product and input quantity <br>
		<button>+</button>
	</div>
	<div>
		<textarea placeholder="input memo"></textarea>
		<button style="margin-right: 5px;">stock in</button><button>save draft</button> <a href="#">preview</a>
	</div>
	</div>
{%endblock%}